form {
    text-align: center;
    background: #3a4755;
    width: 400px;
    padding: 5px 25px 25px;
    margin: 0 auto;
    border-radius: 10px;
}

form h3 {
    color: #8b9eb0;
    font-size: 20px;
}

form div.center {
    display: table;
    margin: 0 auto;
}

form div.row {
    display: table-row;
}

form label, form input {
    display: table-cell;
}

form label {
    padding-right: 5%;
    text-align: right;
    width: 200px;
    font-family: Verdana, sans-serif;
    color: #db7242;
    font-size: 16px;
}

form input {
    width: 200px;
    font-size: 16px;
    padding: 5px;
}