h1 {
    font-family: sans-serif;
    font-size: 30px;
    font-style: italic;
}

h3 {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.divContents {
    background: linear-gradient(90deg, rgba(230,251,255,1) 0%, rgba(0,212,255,1) 100%);
    width: max-content;
    padding: 5px 10px 5px;
    border-radius: 5px;
}

ol li {
    font-family: sans-serif;
    font-size: 15px;
}

form {
    text-align: center;
    background: #3a4755;
    width: max-content;
    padding: 5px 10px 35px;
    margin: 0 auto;
    border-radius: 10px;
}

form label, form input {
    display: table-cell;
}

form label {
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-align: right;
    width: 100px;
    padding-right: 5%;
}

form div.center {
    display: table;
    margin: 0 auto;
}

form div.row {
    display: table-row;
}

input[type=text] {
    transition: width 0.5s ease-in-out;
    height: 20px;
    width: 30%;
}

ol li button{
    color: red;
    border-radius: 25%;
    font-weight: bold;
    font-style: italic;
    border: 2px solid red;
}

input[type=text]:focus {
    height: 20px;
    width: 50%;
    background-color:lightblue;
    color:black;
    border: 3px #273746;
}

input[type=number]:focus {
    background-color:lightblue;
    color:black;
    border: 3px #273746;
}

.green-check {
    background: white;
    color: green;
    border-radius: 25%;
    font-weight: bold;
    border: 2px solid green;
    font-size: 20px;
}