#set( $title = "Calendars" )
#parse("public/templates/top.vm")

#if ($calendars)
<h1>List of the Calendars:</h1>
<div class="divContents">
    <ol>
    <p>
        #foreach($calendar in $calendars )
            <li class="content calendar"><i>$calendar.name</i> Owned by $calendar.userId. <button class="$calendar.id">X</button></li>
        #end
        </p>
    </ol>
</div>
#end
<script src="js/delcalendar.js"></script>

#parse("public/templates/bottom.vm")