#set( $title = "Events" )
#parse("public/templates/top.vm")

#if ($events)
<h1>List of the Events:</h1>
<div class="divContents">
    <ol>
    <p>
        #foreach($event in $events )
            <li class="content event"><i>$event.title</i> from $event.startTime to $event.endTime. <button class="$event.id">X</button></li>
        #end
        </p>
    </ol>
</div>
#end
<script src="js/delevent.js"></script>

#parse("public/templates/bottom.vm")