#set( $title = "Welcome Page" )
#parse("public/templates/top.vm")

#if($username)
<h1>Welcome to Plenum $username</h1>
<div class="divContents indexLinkWrapper">
    <p><a class="content indexLink" href="/calendars">Calendars</a></p>
    <p><a class="content indexLink" href="/viewcalendar">View Calendar Availabilities</a></p>
    <p><a class="content indexLink" href="/create-calendar">Create Calendar</a></p>
    <p><a class="content indexLink" href="/events">Events</a></p>
    <p><a class="content indexLink" href="/viewevent">View Event</a></p>
    <p><a class="content indexLink" href="/Testing github actions">View Event</a></p>
</div>
#else
<h1>Please login first!</h1>
<form action="/" method="post" class="content" onsubmit="return validateUsername();">
    <div>
        <label for="username">Username:</label>
        <input type="text" placeholder="username" name="username" id="username" />
    </div>
    <div>
        <label for="username">Password:</label>
        <input type="text" placeholder="password" name="password" id="password" />
    </div>
    <div id="divSubmit">
        <input type="submit" value="Sign in" class="submit" />
    </div>
</form>
<p><a class="content indexLink" href="/adduser">Sign Up</a></p>
#end

#parse("public/templates/bottom.vm")
