#set( $title = "Invalid login" )
#parse("public/templates/top.vm")


<h1>Invalid Id/password!</h1>
<div class="divContents indexLinkWrapper">
    <p><a class="content indexLink" href="/">Back to login</a></p>
</div>


#parse("public/templates/bottom.vm")
