<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>$title</title>
    <style type="text/css">
        body {
            background-color:#d8d4d0;
        }
        h1 {
            font-family: helvetica, sans-serif;
            color:black;
        }
        a {
            font-family: helvetica, sans-serif;
        }
        a:link {
            color:#404040;
        }
        a:visited {
            color:#404040;
        }
        a:active {
            color:black;
        }
        a:hover {
            font-style: oblique;
        }
    </style>
</head>
<body>